.login-container {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.login-container{
    display: flex;
    flex-direction: column;
}
.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container div {
    margin-bottom: 15px;
}
.login-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.login-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.login-container button:hover {
    background-color: #218838;
}
.login-container .signup-button {
    background-color: #007bff;
}
.login-container .signup-button:hover {
    background-color: #0069d9;
}
.login-container .error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}
.login-container .success-message {
    color: green;
    margin-top: 10px;
    text-align: center;
}
.login-container .link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}